<% @articles.each do |article| %>
  <article id="<%= article.id %>">
    <header>
      <h1><%= link_to(article.title, article_url(article.slug), :title => article.title) %></h1>
      <p class="complement"><time class="timeago" datetime="<%= article.published_at.iso8601%>" pubdate><%= article.published_at%></time> <span class="source"><%= link_to(article.domain.title, article.domain.url, :rel => :external) %></span></p>
    </header>
    <p class="original"><%= link_to("Veja o artigo original", article.origin_url, :rel => :external) %></p>
    <div class="text"><%= article.text %></div>
  </article>
<% end %>
<nav>
  <%= will_paginate @articles%>
</nav>

<% content_for(:javascripts) do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  function create_article(message) {
    html = "<article id=\""+message.article.id+"\"><header><h1>";
    html += "<a href=\""+"/noticias/"+message.article.slug+"\" title=\""+message.article.title+"\">"+message.article.title+"</a></h1>";
    html += "<p class=\"complement\"><time class=\"timeago\" datetime=\""+message.article.published_at+"\" pubdate>"+$.timeago.parse(message.article.published_at)+"</time>";
    html += " <span  class=\"source\"><a href=\""+message.article.domain.url+"\" rel=\"internal\">"+message.article.domain.title+"</a></span></p>";
    html += "</header><p class=\"original\"><a href=\""+message.article.origin_url+"\" rel=\"internal\">Veja o artigo original</a></p>";
    html += "<div class=\"text\">"+message.article.text+"</div></article>";
    return html;
  }
  if (WebSocket) {
    host = "<%= request.host %>";
    var ws = new WebSocket("ws://"+host+":3001/");
    ws.onopen = function() {console.log("connected");}
    ws.onmessage = function(msg) {
      message = $.parseJSON(msg.data);
      if ($("article#"+message.article.id).length == 0) {
        $('#articles_list').prepend(create_article(message));
        $("article#"+message.article.id).timeago();
      }
    }
  }
});
</script>
<% end %>
