<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Serviço que agrega as últimas notícias que sairam nos portais locais." />
    <meta name="keywords" content="Notícias, Piauí, Portal, Notícias do Piauí" />
    <title>Notícias sobre o Piauí (Beta)</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "styles" %>
    <%= tweet_widgets_js_tag %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17940571-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body id="<%= controller_name %>_<%= controller.action_name %>">
    <header id="top">
      <h1><%= link_to("Notícias sobre o Piauí", root_url)%></h1>
    </header>
    <section id="articles_list">
      <%= yield %>
    </section>
  </body>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.timeago", "jquery.scrollto", "jquery.livequery" %>
  <script type="text/javascript" charset="utf-8">
    $.timeago.settings.strings = {
       suffixAgo: "atrás", suffixFromNow: "a partir de agora", seconds: "menos de um minuto", minute: "cerca de um minuto", minutes: "%d minutos",
       hour: "cerca de uma hora", hours: "cerca de %d horas", day: "um dia", days: "%d dias", month: "cerca de um mês", months: "%d meses",
       year: "cerca de um ano", years: "%d anos"
    };
    function create_article(message) {
      html = "<article id=\""+message.article.id+"\"><header><h1>";
      html += "<a href=\""+"/noticias/"+message.article.slug+"\" title=\""+message.article.title+"\">"+message.article.title+"</a>";
      html += " <time class=\"timeago\" datetime=\""+message.article.published_at+"\" pubdate>"+$.timeago.parse(message.article.published_at)+"</time>";
      html += " <span>por <a href=\""+message.article.domain.url+"\" rel=\"internal\">"+message.article.domain.title+"</a></span></h1>";
      html += "</header><nav><ul><li><a href=\""+message.article.origin_url+"\" rel=\"internal\">Veja o artigo original</a></li></ul></nav>";
      html += "<div class=\"text\">"+message.article.text+"</div></article>";
      return html;
    } 
    $(document).ready(function() {
      $('time.timeago').livequery(function() { 
        $(this).timeago();
      });
      $("#articles_index article h1 a").livequery(function() {
        $(this).toggle(function() {
          $("article h1 a.expanded").click();
          show = this;
          $.scrollTo($(this), {onAfter: function() {
            $(show).addClass("expanded");
            $(show).parents("article").children("nav").slideDown();
            $(show).parents("article").children(".text").slideDown();
          }});
        }, function() {
          $(this).removeClass("expanded");
          $(this).parents("article").children("nav").slideUp("fast");
          $(this).parents("article").children(".text").slideUp("fast");
        });
      })
      if (WebSocket) {
        host = "<%= request.host %>";
        var ws = new WebSocket("ws://"+host+":3001/");
        ws.onopen = function() {console.log("connected");}
        ws.onmessage = function(msg) {
          message = $.parseJSON(msg.data);
          if ($("article#"+message.article.id).length == 0) {
            $('#articles_list').prepend(create_article(message));
            $("article#"+message.article.id).timeago();
          }
        }
      }
    });
  </script>
  <%= yield(:javascripts) %>
</html>