<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Notícias sobre o Piauí (Beta)</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "styles" %>
    <%= tweet_widgets_js_tag %>
  </head>

  <body id="<%= controller_name %>_<%= controller.action_name %>">
    <header>
      <h1><%= link_to("Notícias sobre o Piauí", root_url)%></h1>
    </header>
    <section id="articles_list">
      <%= yield %>
    </section>
  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.timeago", "jquery.scrollto" %>
  <script type="text/javascript" charset="utf-8">
    $.timeago.settings.strings = {
       suffixAgo: "atrás", suffixFromNow: "a partir de agora", seconds: "menos de um minuto", minute: "cerca de um minuto", minutes: "%d minutos",
       hour: "cerca de uma hora", hours: "cerca de %d horas", day: "um dia", days: "%d dias", month: "cerca de um mês", months: "%d meses",
       year: "cerca de um ano", years: "%d anos"
    };
    $(document).ready(function() {
      $("time.timeago").timeago();
      $("#articles_index article h1 a").toggle(function() {
        $("article h1 a.expanded").click();
        show = this;
        $.scrollTo($(this), {onAfter: function() {
          $(show).addClass("expanded");
          $(show).parents("article").children("nav").slideDown();
          $(show).parents("article").children(".text").slideDown();
        }});
      }, function() {
        $(this).removeClass("expanded");
        $(this).parents("article").children("nav").slideUp("fast");
        $(this).parents("article").children(".text").slideUp("fast");
      });
    });
  </script>
  <%= yield(:javascripts) %>
</html>
